* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background:#f4f8fa;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

h2.links {
    font-size: 1.5em;
}

h2.links a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

h2.links a:hover {
    color: #007bff;
}