* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* alternative CSS box model */
}

html {
    height: 100vh;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background:#f1f7f7;
}

body {
    width: 80%;
    height: 100vh;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px; /* Default browser size unless overriden */
    font-family: Arial, sans-serif;
    background:#f1f7f7;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Navigation bar section */

#navbar {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#navbar h2.sections {
    font-size: 1.5em;
    text-align: center;
    border-top: 2px solid #020202;
    border-bottom: 2px solid #020202;
    padding: 15px 0;
}

#navbar h2.sections a {
    margin: 0 30px;
    text-decoration: none;
    color: black;
}

#navbar h2.sections a:hover {
    color: #007bff;
}

/* About section */

#about {
    /* margin-top: 3%; */
    /* margin-bottom: 3%; */
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    border-top: 2px solid #0202021c;
    border-bottom: 2px solid #0202021c;
    border-left: 2px solid #0202021c;
    border-right: 2px solid #0202021c;
}

#about .profile {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}

#about .profile img {
    width: 100%;
    height: 80%;
}

#about .profile .socials {
    width: 100%;
    padding: 2%;
    display: flex;
}

#about h2 {
    padding: 0 0 5% 0;
    justify-content: center;
    font-size: 35px;
}

#about #bio {
    font-size: 20px;
    width: 50%;
    height: 100%;
    padding: 0 2%;
    align-content: center;
    overflow: auto;
}

#about #bio p {
    margin-bottom: 5%;
}

/* News backlog section */

#news {
    padding: 1%;
    margin-bottom: 3%;
    width: 100%;
    height: 20%;
    justify-content: center;
    border-bottom: 2px solid #0202021c;
    border-left: 2px solid #0202021c;
    border-right: 2px solid #0202021c;
    overflow-y: scroll;
}

#news h2 {
    font-size: 30px;
    justify-content: center;
}

#news .items {
    font-size: 20px;
}