body {
    background:#999;
    font-family: arial;
}

a {
    color: green;
}

p {
    background: #666;
    color: white;
    padding: 10px 0px 10px 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline;
}

nav ul li {
    display: inline-block;
    list-style-type: none;

}

.row {

}

.col {
    background: #888;
    border-radius: 5px;
    float: left;
    padding: 8px;
    margin: 0.3%;
    width: 28%
}

footer {
    clear: both;
}

.secondary {
    background: #333;
    color: #777;
}

#special {
    background: red;
    color: white;
}